body{
    margin-top: 0;
    /*background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Code_presentation_background.png/1024px-Code_presentation_background.png");
    */
    /* background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E"); */
    background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='314' height='314' viewBox='0 0 200 200'%3E%3Cg fill='none' stroke='%237F3' stroke-width='7.8' stroke-opacity='0.03'%3E%3Crect x='-40' y='40' width='75' height='75'/%3E%3Crect x='-35' y='45' width='65' height='65'/%3E%3Crect x='-30' y='50' width='55' height='55'/%3E%3Crect x='-25' y='55' width='45' height='45'/%3E%3Crect x='-20' y='60' width='35' height='35'/%3E%3Crect x='-15' y='65' width='25' height='25'/%3E%3Crect x='-10' y='70' width='15' height='15'/%3E%3Crect x='-5' y='75' width='5' height='5'/%3E%3Crect width='35' height='35'/%3E%3Crect x='5' y='5' width='25' height='25'/%3E%3Crect x='10' y='10' width='15' height='15'/%3E%3Crect x='15' y='15' width='5' height='5'/%3E%3Crect x='40' width='75' height='75'/%3E%3Crect x='45' y='5' width='65' height='65'/%3E%3Crect x='50' y='10' width='55' height='55'/%3E%3Crect x='55' y='15' width='45' height='45'/%3E%3Crect x='60' y='20' width='35' height='35'/%3E%3Crect x='65' y='25' width='25' height='25'/%3E%3Crect x='70' y='30' width='15' height='15'/%3E%3Crect x='75' y='35' width='5' height='5'/%3E%3Crect x='40' y='80' width='35' height='35'/%3E%3Crect x='45' y='85' width='25' height='25'/%3E%3Crect x='50' y='90' width='15' height='15'/%3E%3Crect x='55' y='95' width='5' height='5'/%3E%3Crect x='120' y='-40' width='75' height='75'/%3E%3Crect x='125' y='-35' width='65' height='65'/%3E%3Crect x='130' y='-30' width='55' height='55'/%3E%3Crect x='135' y='-25' width='45' height='45'/%3E%3Crect x='140' y='-20' width='35' height='35'/%3E%3Crect x='145' y='-15' width='25' height='25'/%3E%3Crect x='150' y='-10' width='15' height='15'/%3E%3Crect x='155' y='-5' width='5' height='5'/%3E%3Crect x='120' y='40' width='35' height='35'/%3E%3Crect x='125' y='45' width='25' height='25'/%3E%3Crect x='130' y='50' width='15' height='15'/%3E%3Crect x='135' y='55' width='5' height='5'/%3E%3Crect y='120' width='75' height='75'/%3E%3Crect x='5' y='125' width='65' height='65'/%3E%3Crect x='10' y='130' width='55' height='55'/%3E%3Crect x='15' y='135' width='45' height='45'/%3E%3Crect x='20' y='140' width='35' height='35'/%3E%3Crect x='25' y='145' width='25' height='25'/%3E%3Crect x='30' y='150' width='15' height='15'/%3E%3Crect x='35' y='155' width='5' height='5'/%3E%3Crect x='200' y='120' width='75' height='75'/%3E%3Crect x='40' y='200' width='75' height='75'/%3E%3Crect x='80' y='80' width='75' height='75'/%3E%3Crect x='85' y='85' width='65' height='65'/%3E%3Crect x='90' y='90' width='55' height='55'/%3E%3Crect x='95' y='95' width='45' height='45'/%3E%3Crect x='100' y='100' width='35' height='35'/%3E%3Crect x='105' y='105' width='25' height='25'/%3E%3Crect x='110' y='110' width='15' height='15'/%3E%3Crect x='115' y='115' width='5' height='5'/%3E%3Crect x='80' y='160' width='35' height='35'/%3E%3Crect x='85' y='165' width='25' height='25'/%3E%3Crect x='90' y='170' width='15' height='15'/%3E%3Crect x='95' y='175' width='5' height='5'/%3E%3Crect x='120' y='160' width='75' height='75'/%3E%3Crect x='125' y='165' width='65' height='65'/%3E%3Crect x='130' y='170' width='55' height='55'/%3E%3Crect x='135' y='175' width='45' height='45'/%3E%3Crect x='140' y='180' width='35' height='35'/%3E%3Crect x='145' y='185' width='25' height='25'/%3E%3Crect x='150' y='190' width='15' height='15'/%3E%3Crect x='155' y='195' width='5' height='5'/%3E%3Crect x='160' y='40' width='75' height='75'/%3E%3Crect x='165' y='45' width='65' height='65'/%3E%3Crect x='170' y='50' width='55' height='55'/%3E%3Crect x='175' y='55' width='45' height='45'/%3E%3Crect x='180' y='60' width='35' height='35'/%3E%3Crect x='185' y='65' width='25' height='25'/%3E%3Crect x='190' y='70' width='15' height='15'/%3E%3Crect x='195' y='75' width='5' height='5'/%3E%3Crect x='160' y='120' width='35' height='35'/%3E%3Crect x='165' y='125' width='25' height='25'/%3E%3Crect x='170' y='130' width='15' height='15'/%3E%3Crect x='175' y='135' width='5' height='5'/%3E%3Crect x='200' y='200' width='35' height='35'/%3E%3Crect x='200' width='35' height='35'/%3E%3Crect y='200' width='35' height='35'/%3E%3C/g%3E%3C/svg%3E");
    height: 90vh;
}

#hero {
    width: 100%;
    height: 90vh;
    background-size: cover;
    position: relative;
  }
  #hero .hero-grp{
    text-align: center;
    background-color: rgba(120, 223, 72, 0.267);   
    padding: 2%;
  }
  #hero:before {
    content: "";
    background: rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
  }
  
  #hero h1 {
    margin: 0 0 0 0;
    font-size: 78px;
    font-family: "Catamaran", sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: bold;
    color: #fff;
    text-align: center;
  }
  
  #hero h2 {
    color: #eee;
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
  }
  #hero h3 {
    color: #eee;
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
  }

  nav{
    background-color:rgba(0,0,0, 0.4)
  }

  li.nav-item{
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 3px;
  }
  
  li.nav-item:hover{
    animation-name: nav-popup;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    background-color: rgba(28, 44, 7, 0.726);
  }

  li.nav-item.active{
    background-color: rgba(127, 255, 0, 0.39);
  }

  li.nav-item.active:hover{
    animation-name: nav-popup;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    background-color: rgba(43, 110, 30, 0.726);
  }

  @keyframes nav-popup {
    from{
      scale: 1;
    }
    to{
      scale: 1.1;
    }
  }

  .social{
    justify-content: center;
    align-items: center;
  }
  div.container-fluid.side{
    width: 50%;
    height: 100%; 
    justify-content: center;
    text-align: center;
  }

  div.row.justify-content-center{
    width: 100%;
  }
  .card {
    justify-content:center;
    align-items:center;
    background-color: rgba(120, 223, 72, 0.267);
    color: white;
    margin: 1%;
    border-color: #7fff00;
    border-width: 3px;
  }

  .card:hover{
    background: rgba(75, 146, 4, 0.25);
    scale: 1.03;
  }

  .grid-container.lower{
    display: grid;
    height: 50%;
    width: 100%;
    align-items:flex-end;
    justify-content: center;
  }
  .grid-container.upper{
    display: grid;
    height: 50%;
    width: 100%;
    align-items:flex-start;
    justify-content: center;
  }

  .about-area{
    margin-top: 5%;
    padding: 5%;
    background-color: rgba(120, 223, 72, 0.267);
  }

  .about-area h2{
    color: #ffffff;
  }
  .about-area h1{
    color: #ffffff;
    font-family: 'Lato';
  }

  .about-area h5{
    color: rgb(255, 255, 255);
    text-align: justify;
    font-family: 'Roboto Slab', serif;
  }

  .about-area h6{
    color: rgba(228, 228, 228, 0.685);
    text-align: justify;
    font-family: 'Roboto Slab', serif;
  }

  .about-area p{
    color: rgba(228, 228, 228, 0.685);
    text-align: justify;
    font-family: 'Roboto Slab', serif;
  }

  .about-area hr{
    height: 3px; 
    background-color: #7fff00;
    text-decoration: dotted; 
    width: 66%; 
    margin-left: 0;
  }

  .about{
    background:  rgba(144, 186, 221,0.25);
  }
  .about-first{
    background: rgba(75, 146, 4, 0.25);
  }
  .about-me{
    background: rgba(75, 146, 4, 0.6);
  }

  .about-me h5{
    line-height: 1.5;
  }

  .about-me h5 a{
    text-decoration: underline dotted #7fff00 3px;
    color: white;
  }

  .about-me h5 a:hover{
    animation-name: underline-fade;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    text-decoration: underline dotted #7fff00 3px;
    color: white;
  }

  @keyframes underline-fade {
    0% {text-decoration: underline dotted #7fff00 3px;}
    50%{text-decoration: underline dotted #80ff0000 3px;}
    100%{text-decoration: underline dotted #7fff00 3px;}
  }

  .abt-footer{
    color: #395f88;
    text-align:center;
    
  }

  .work-app-desc{
    
    color: rgba(228, 228, 228, 0.685);
    text-align: justify;
    font-family: 'Roboto Slab', serif;
  }
  .abt-footer a{
    text-decoration: none;
    color: #395f88;
    
  }

  .about-header{
    color: #fff;
    font-family: 'Popins', sans-serif;
    border: solid black;
    padding: 1%;
    position: relative;
    fill: white;
    fill-opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    /*font-family: 'Montserrat', sans-serif;*/
  }

  .about-content{
    padding: 1% 2% 1% 2% ;
    border-left:10px solid grey;
    border-right: 10px solid grey;
    border-top:5px solid grey;
    background-color:rgba(14, 19, 83, 0.733);
    border-bottom: 5px dotted grey;
    margin-top: 2%;
  }

  .about-content h3{
    color: #9ac464;
    font-family: 'Jura', sans-serif;
  }

  .about-content-desc{
    border-left:10px solid grey;
    border-right:10px solid grey;
    background-color:rgba(31, 83, 126,0.5);
    padding-left: 8%;
    color: rgb(204, 184, 240);
  }
  
  .about-content-desc img{
    padding: 1% 2%;
  }

  .about-content-desc a{
    color: rgb(248, 186, 186);
    text-decoration: underline;
  }

  .about-sub{
    border-left:10px solid grey;
    border-right:10px solid grey;
    background-color:rgba(31, 83, 126, 0.973);
    font-family: 'Philosopher', sans-serif;
    padding: 1% 0% 0% 4%;
  }

  .about-sub h4{
    color: white;
  }

  .about-sub span{
    size: 30px;
    align-items: center;
  }

  .skill-title{
    background-color: #7fff00;
    color: #000000;
  }

  .skill-title p{
    color: #000000;
  }

  #ind-img{
    height: 48px;
  }

  a.not-found{
    background-color: #7fff00;
    color: #000000;
    margin-top: 10%;
  }

  #download-section{
    height: 100vh;
  }

  .app-title{
    padding-top: 20%;
    color: white;
    background-color: rgba(120, 223, 72, 0.267);
  }
  .app-title h1{
    text-align: center;
    width: 100%;
    font-family: 'Noto Serif', serif;

  }

  .app-title p{
    text-align: center;
    padding-top: 0;
    width: 100%;
    color: #868686;
    font-family: 'Noto Sans', sans-serif;
  }

  .download-area{
    align-items: center;
    height: 60vh;
  }

  .btn-download{
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
  }
  .btn-download:hover{
    background-color: papayawhip;
  }

  .profile-img{
    border:#7fff00 solid;
  }

  .text-head{
    color: white;
  }